@model Aplikacija.Models.PlanIshrane

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlanIshrane</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciljevi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciljevi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumGenerisanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumGenerisanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kilaza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kilaza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Godine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Godine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clan.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPlanishrane">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
