@using Aplikacija.Extensions
@model Aplikacija.Models.ViewModels.PlanIshraneDetailsViewModel

@{
    ViewData["Title"] = "Detalji plana ishrane";
}

<div class="container">
    <h2>Detalji vašeg plana ishrane</h2>

    <dl class="row">
        <dt class="col-sm-3">Cilj plana:</dt>
        <dd class="col-sm-9">@Model.Plan.Ciljevi.GetDisplayName()</dd>

        <dt class="col-sm-3">Plan ishrane:</dt>
        <dd class="col-sm-9">@Model.Plan.Plan</dd>

        <dt class="col-sm-3">Datum generisanja:</dt>
        <dd class="col-sm-9">@Model.Plan.DatumGenerisanja.ToShortDateString()</dd>

        <dt class="col-sm-3">Kilaža:</dt>
        <dd class="col-sm-9">@Model.Plan.Kilaza kg</dd>

        <dt class="col-sm-3">Visina:</dt>
        <dd class="col-sm-9">@Model.Plan.Visina cm</dd>

        <dt class="col-sm-3">Godine:</dt>
        <dd class="col-sm-9">@Model.Plan.Godine</dd>

        <dt class="col-sm-3">BMI:</dt>
        <dd class="col-sm-9">@Model.BMI.ToString("F2")</dd>

        <dt class="col-sm-3">Preporučene kalorije dnevno:</dt>
        <dd class="col-sm-9">@Model.PotrebneKalorije kcal</dd>

        <dt class="col-sm-3">Preporučeni način vežbanja:</dt>
        <dd class="col-sm-9">@Model.NacinVjezbanja</dd>
    </dl>

    <a asp-action="Index" class="btn btn-primary">Nazad na listu</a>
</div>
