@model IEnumerable<Aplikacija.Models.PlanIshrane>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ciljevi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumGenerisanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kilaza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Godine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ciljevi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumGenerisanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kilaza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Godine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clan.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPlanishrane">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPlanishrane">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPlanishrane">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
