@model IEnumerable<Aplikacija.Models.Termin>
@{
    ViewData["Title"] = "Index";
}

<h1>Lista termina</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Napravi termin</a>
</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrijeme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrsta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trener)
            </th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vrijeme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vrsta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trener.Email)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdTermin" class="btn btn-sm btn-info">Details</a>
             
                    <a asp-action="Delete" asp-route-id="@item.IdTermin" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>