@model IEnumerable<Aplikacija.Models.Trening>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrijeme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trener)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vrijeme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clan.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trener.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTrening">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTrening">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTrening">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
